body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* region to display an error */
#error {
    display: none;
}

/* some input elements get a fixed width */
#curve_x {
    width: 150px;
}

#curve_y {
    width: 150px;
}

#drawing_area {
    /*
     * NOTE: the "position:relative" is required due to the current implementation of mouse coordinate processing in
     * module "util".
     */
    position: relative;
    cursor: pointer;
}