body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* region to display an error */
#error {
    display: none;
    margin: 20px 0 0;
}

#drawing_area {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /*
     * NOTE: the "position:relative" is required due to the current implementation of mouse coordinate processing in
     * module "util".
     */
    position: relative;
}
